<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row col-lg-6">
        <div class="form-fream">
            <div class="form-area">
              <p class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>
              <%= form_with url: search_path, method: :get do |f| %>
                <%= f.label :keyword, 'エリア' %>
                <%= f.text_field :keyword, placeholder: "東京", class: "form-control mb-4" %>
                <%= f.submit "検索", class: "form-control btn-primary mb-4" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="panel-area">
      <h1>おすすめのエリア</h1>
      <div class="row">
        <div class="panel col-lg-3 col-6">
          <%= link_to image_tag("img_tokyo.jpeg", class:"panel-image img-fluid"), "/" %>
          <span>東京</span>
        </div>
        <div class="panel col-lg-3 col-6">
          <%= link_to image_tag("img_osaka.jpeg", class:"panel-image img-fluid"), "/" %>
          <span>大阪</span>
        </div>
        <div class="panel col-lg-3 col-6">
          <%= link_to image_tag("img_kyoto.jpeg", class:"panel-image img-fluid"), "/" %>
          <span>京都</span>
        </div>
        <div class="panel col-lg-3 col-6">
          <%= link_to image_tag("img_sapporo.jpeg", class:"panel-image img-fluid"), "/" %>
          <span>札幌</span>
        </div>
      </div>
    </div>
  </div>
</div>